<div class="clubs-container">
  <div class="row">
    <div class="small-12 columns">
      <h1>Edit Settings for <%= @club.name %></h1>
      <%= render "form" %>
      <div>
        <p>
          <%= link_to fa_icon("times-circle lg", text: "Delete This Club"),
              club_path(@club),
              method: :delete, data: { confirm: "Are you sure?" },
              class: "delete-button" %>
        </p>
      </div>
    </div>
  </div>
</div>
