<div class="profile-container">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= @club.name %></h1>
      <h4><%= @club.description %></h4>
      <p>Organizer: <%= @club.organizer.name %></p>
      <p>Members:</p>

    </div>
  </div>
</div>
