<div class="club-comments-container">
  <div class="row">
    <div class="small-12 columns">
      <h1>Discussion History for <%= @club.name %></h1>
        <%= render @comments %>
    </div>
  </div>
</div>
