<div class="profile-container">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= @user.name %></h1>

      <h2>Current Clubs</h2>
      <h2>Recent Comments</h2>
      <h2>Favorite Books</h2>
      <h2>Favorite Authors</h2>
    </div>
  </div>
</div>
