<div class="about-page-container">
  <div class="row">
    <div class="small-12 columns">
      <h1>Hi! I'm Danny.</h1>
      <h1>
        <img src="https://secure.gravatar.com/avatar/2b182c2b469e464fe937b6f089c9d7db.png?r=PG&amp;s=110" alt="2b182c2b469e464fe937b6f089c9d7db">
      </h1>
      <h4>
        GatsBee is my final project, aka Breakable Toy, as part of my study of
        web development at Launch Academy. If you like what you see and are looking
        to hire a developer in the Greater Boston Area, or you just want to talk
        ruby, technology, or books, please reach out to me:
      </h4>
      <h4 id="contact"> Contact:
        <br>
        <%= link_to "LinkedIn", "http://www.linkedin.com/in/danrosenblatt/" %>
        <br>
        <%= link_to "GitHub", "https://github.com/dgrosenblatt" %>
      </h4>
      <p>
        Launch Academy is an immersive bootcamp in Boston taking eager learners
        and teaching them what it takes to add value as a junior contributor to a
        software engineering team. I got the idea to create this app from the
        book club that my wife participates in. She's really into bees.
      </p>
      <p>
        So how does it work? The natural language stuff happens thanks to a ruby gem
        called Chronic, and the  event scheduling is done through the Google
        Calendar API. Book suggestions come from similar products from the Amazon
        API.
      </p>
      <h4 id="contribute">Contribute
        <br>
        GatsBee is open source. Found a bug? Pull request or create an issue here:
        <%= link_to "https://github.com/dgrosenblatt/gatsbee" %>
      </h4>
    </div>
  </div>
</div>
