<div class="row">
  <div class="small-12 columns">
    <h1>GatsBee is an app for book clubs.</h1>
  </div>
</div>

<div class="row">
  <button class="small-4 small-offset-1 columns home">Find A Club</button>
  <button class="small-4 small-offset-2 columns end home">Sign In</button>
</div>
