<div class="home-page-container">
  <div class="row">
    <div class="small-12 columns">
      <h1>GatsBee is an app for book clubs.</h1>
    </div>
  </div>

  <div class="row">
    <button class="small-4 small-offset-1 columns home">FIND A CLUB</button>
    <button class="small-4 small-offset-2 columns end home">SIGN IN WITH GOOGLE</button>
  </div>
</div>
