<div class="home-page-container">
  <div class="row">
    <div class="small-12 columns">
      <h1>GatsBee is an app for book clubs.</h1>
    </div>
  </div>

  <div class="row buttons">
    <button class="small-4 small-offset-1 columns">
      <%= link_to "FIND A CLUB", clubs_path %>
    </button>
    <button class="small-4 small-offset-2 columns end">
      <%= link_to "SIGN UP WITH GOOGLE", "/auth/google_oauth2" %>
    </button>
  </div>

  <div class="row stories">
    <div class="small-12 columns">
      <ul class="small-block-grid-3">
        <li><p>User Story 1</p></li>
        <li><p>User Story 2</p></li>
        <li><p>User Story 3</p></li>
      </ul>
    </div>
  </div>
</div>
