/* Color Scheme */

$honeycomb: #FFC52C;
$red: #FB0C06;
$white: #FFF;
$lightgray: #E7EDEA;
$mediumgray: #BBB;
$midnight: #27272B;
$bluesteel: #030D4F;
$bluesky: #CEECEF;

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

body {
  background-color: $midnight;
  font-family: "Lato";
  a {
    text-decoration: none;
  }
}

/* Home Page */

.home-page-container {
  min-height: 600px;
  background: linear-gradient(
  rgba(39, 39, 43, 0.5),
  rgba(0, 0, 0, 0.7)
  ),
  url("https://s3.amazonaws.com/gatsbee/rsz_1library.jpg");
  background-position: 40% 88%;
  background-attachment: fixed;
  border-bottom: 2px solid $honeycomb;
  h1 {
    color: $honeycomb;
    margin-bottom: 20px;
    font-size: 64px;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
  }
  h2 {
    color: $lightgray;
    text-align: center;
    margin-bottom: 50px;

  }
  .buttons {
    margin-bottom: 100px;
    button {
      background: transparent;
      border: 2px solid $honeycomb;
      color: $honeycomb;
      font-family: "Lato";
      font-weight: 400;
      font-size: 24px;
      a {
        color: $honeycomb;
      }
      &:hover {
        background-color: $honeycomb;
        a {
          text-decoration: none;
          color: $red;
        }
      }
    }
  }
}

.stories {
  li {
    p {
      opacity: 0.75;
      font-family: "Lato";
      font-size: 20px;
      color: $honeycomb;
      text-align: center;
      height: 175px;
      padding-top: 22px;
      margin-bottom: 50px;
      border: 2px solid $honeycomb;
      .fa-arrow-circle-down {
        display: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

#story1,
#story2,
#story3 {
  width: 100%;
  height: 500px;
  border-top: 3px solid $midnight;
  h1 {
    margin: 0;
    text-align: center;
    font-size: 48px;
  }

}

#story1 {
  background: url("https://s3.amazonaws.com/gatsbee/tiny_grid.png");
  .row {
    margin-top: 100px;
  }
  img {
    border: 15px solid #777;
    box-shadow: 7px 7px 0 0 $honeycomb;
    border-radius: 7px;
    min-height: 190px;
  }
  h1 {
    padding-top: 20px;
    color: $honeycomb;
  }
  p {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
  }
}

#story2 {
  background: linear-gradient(
  rgba(255, 197, 44, 0.25),
  rgba(255, 197, 44, 0.25)
  ),
  url("https://s3.amazonaws.com/gatsbee/honey_im_subtle_%402X.png");
}

#story3 {
  background: url("https://s3.amazonaws.com/gatsbee/honey_im_subtle_%402X.png");
}

#story1A {
  height: 500px;
  background: linear-gradient(
  rgba(39, 39, 43, 0),
  rgba(39, 39, 43, 1)
  ),
  url("https://s3.amazonaws.com/gatsbee/rsz_kindle.jpg");
  background-attachment: fixed;
  background-position: 50% 10%;
}

#story2A {
  height: 500px;
  background: linear-gradient(
  rgba(39, 39, 43, 0),
  rgba(39, 39, 43, 1)
  ),
  url("https://s3.amazonaws.com/gatsbee/rsz_1bridge.jpg");
  background-attachment: fixed;
  background-position: 50% 40%;
}

#story3A {
  height: 500px;
  background: linear-gradient(
  rgba(39, 39, 43, 0),
  rgba(39, 39, 43, 0.9)
  ),
  url("https://s3.amazonaws.com/gatsbee/rsz_typewriter.jpg");
  background-attachment: fixed;
  background-position: 50% 67%;
}

/* Header */

header {
  background-color: $midnight;
  font-family: "Lato";
  h1 {
    padding-top: 3px;
    margin: 0;
    a {
      &:hover {
        color: $honeycomb;
      }
    }
  }
  li {
    p {
      text-align: center;
    }
    &:hover {
      background-color: $honeycomb;
      a {
        color: $bluesteel;
      }
    }
  }
  a {
    color: $lightgray;
    text-decoration: none;
  }
  .option {
    padding: 0;
  }
}

/* Footer */

footer {
  height: 400px;
  padding: 80px 0;
  background-color: $midnight;
  li {
    text-align: center;
    a {
      color: $honeycomb;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
  }
}

/* Flash messages */

.flash {
  background-color: $honeycomb;
  color: $white;
  text-align: center;
  font-family: "Lato";
  font-size: 24px;
}

/* Clubs */

.clubs-container,
.profile-container,
.book-container,
.club-comments-container {
  background: linear-gradient(
  rgba(255, 255, 255, 0.5),
  rgba(255, 255, 255, 0.5)
  ),
  url("https://s3.amazonaws.com/gatsbee/light_honeycomb.png");
  min-height: 600px;
  h1,
  #create,
  #search
   {
    text-align: center;
  }
  .fa-question-circle {
    color: $red;
  }
}

.club-page-left {
  border: 2px solid $honeycomb;

}
.club-page-right {
  background: $honeycomb;
  border: 2px solid $honeycomb;
}

.club {
  border-top: 1px solid $honeycomb;
  h3 {
    margin-top: 12px;
  }
  a {
    text-decoration: none;
    color: $midnight;
    &:hover {
      color: $mediumgray;
    }
  }
}

.new_comment {
  display: none;
}

.profile-club {
  margin: 10px 0;
  a {
    text-decoration: none;
    color: $midnight;
    i.fa-bookmark {
      color: $honeycomb;
    }
    i.fa-user {
      color: $red;
    }
    &:hover {
      color: $mediumgray;
    }
  }
}

/* Comments */

#club-comments{
  margin-top: 20px;
}

.comment {
  border-top: 1px solid $honeycomb;
  margin: 0;
  padding: 3px 0;
  &:hover {
    #delete-comment {
      visibility: visible;
    }
  }
  #delete-comment {
    color: $red;
    visibility: hidden;
  }
}

.comment-time {
  font-size: 12px;
  color: $mediumgray;
  float: right;
  padding-right: 2px;
}

.question {
  background-color: $honeycomb;
  .discussion {
    padding-left: 2px;
    color: $red;
  }
  .comment-time {
    color: $white;
  }
}

.profile-remark {
  color: $honeycomb;
}

.profile-question {
  color: $red;
}

/* Buttons */

.create-button,
.delete-button,
#club-discussion {
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 4px 5px;
  background-color: $bluesteel;
  color: $white;
  &:hover {
    color: $honeycomb;
  }
}

.delete-button {
  background-color: $red;
}
