/* Color Scheme */

$honeycomb: #FFC52C;
$red: #FB0C06;
$white: #FFF;
$lightgray: #E7EDEA;
$mediumgray: #BBB;
$midnight: #27272B;
$bluesteel: #030D4F;
$bluesky: #CEECEF;

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
  background-color: $midnight;
  font-family: "Lato";
  a {
    text-decoration: none;
  }
}

/* Home Page */

.home-page-container {
  min-height: 600px;
  background: linear-gradient(
  rgba(39, 39, 43, 0.7),
  rgba(0, 0, 0, 1)
  ),
  url("https://unsplash.imgix.net/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg?q=75&fm=jpg&s=77320b2f59f340a0a4d57c34128f2f6e");
  background-position: 40% 88%;
  background-attachment: fixed;
  border-bottom: 2px solid $honeycomb;
  h1 {
    color: $honeycomb;
    margin-bottom: 20px;
    font-size: 64px;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
  }
  h2 {
    color: $lightgray;
    text-align: center;
    margin-bottom: 50px;

  }
  .buttons {
    margin-bottom: 100px;
    button {
      background: transparent;
      border: 2px solid $honeycomb;
      color: $honeycomb;
      font-family: "Lato";
      font-weight: 400;
      font-size: 24px;
      a {
        color: $honeycomb;
      }
      &:hover {
        background-color: $honeycomb;
        a {
          text-decoration: none;
          color: $red;
        }
      }
    }
  }
}

.stories {
  li {
    p {
      opacity: 0.75;
      font-family: "Lato";
      font-size: 20px;
      color: $honeycomb;
      text-align: center;
      height: 175px;
      padding-top: 22px;
      margin-bottom: 50px;
      border: 2px solid $honeycomb;
      .fa-arrow-circle-down {
        display: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

#story1,
#story2,
#story3 {
  width: 100%;
  height: 500px;
  border-top: 3px solid $midnight;
  background: linear-gradient(
  rgba(255, 197, 44, 0.25),
  rgba(255, 197, 44, 0.25)
  ),
  url("https://s3.amazonaws.com/gatsbee/honey_im_subtle_%402X.png");

  h1 {
    margin: 0;
    text-align: center;
    color: $white;
    padding-top: 400px;
  }
}

#story1A {
  height: 500px;
  background: linear-gradient(
  rgba(39, 39, 43, 0),
  rgba(39, 39, 43, 1)
  ),
  url("https://ununsplash.imgix.net/38/zEk8RJdmQrqja2XwbjgJ_DSC_2368.jpg?q=75&fm=jpg&s=0a7f72fcbef949b219b2c83813bc3c45");
  background-attachment: fixed;
  background-position: 50% 40%;
}

#story2A {
  height: 500px;
  background: linear-gradient(
  rgba(39, 39, 43, 0),
  rgba(39, 39, 43, 1)
  ),
  url("https://unsplash.imgix.net/photo-1415889678233-eb900aeee9e1?q=75&fm=jpg&s=a41f4d6b1848cd673323fa4ee17da470");
  background-attachment: fixed;
  background-position: 50% 40%;
}

#story3A {
  height: 500px;
  background: linear-gradient(
  rgba(39, 39, 43, 0),
  rgba(39, 39, 43, 0.9)
  ),
  url("https://ununsplash.imgix.net/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=75&fm=jpg&s=2857080adb1de5db2cbddb6d230954bc");
  background-attachment: fixed;
  background-position: 50% 67%;
}

/* Header */

header {
  background-color: $midnight;
  font-family: "Lato";
  h1 {
    padding-top: 3px;
    margin: 0;
    a {
      &:hover {
        color: $honeycomb;
      }
    }
  }
  li {
    p {
      text-align: center;
    }
    &:hover {
      background-color: $honeycomb;
      a {
        color: $bluesteel;
      }
    }
  }
  a {
    color: $lightgray;
    text-decoration: none;
  }
  .option {
    padding: 0;
  }
}

/* Footer */

footer {
  height: 400px;
  padding: 80px 0;
  background-color: $midnight;
  li {
    text-align: center;
    a {
      color: $honeycomb;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
  }
}

/* Flash messages */

.flash {
  background-color: $honeycomb;
  color: $white;
  text-align: center;
  font-family: "Lato";
  font-size: 24px;
}

/* Clubs */

.clubs-container,
.profile-container {
  background-color: $white;
  min-height: 600px;
  h1,
  #create,
  #search
   {
    text-align: center;
  }
}

.club-page-left {
  border: 2px solid $honeycomb;

}
.club-page-right {
  background: $honeycomb;
  border: 2px solid $honeycomb;
}

.club {
  border-top: 1px solid $honeycomb;
  h3 {
    margin-top: 12px;
  }
  a {
    text-decoration: none;
    color: $midnight;
    &:hover {
      color: $mediumgray;
    }
  }
}

.profile-club {
  margin: 10px 0;
  a {
    text-decoration: none;
    color: $midnight;
    i.fa-bookmark {
      color: $honeycomb;
    }
    i.fa-user {
      color: $red;
    }
    &:hover {
      color: $mediumgray;
    }
  }
}

/* Comments */

.comment {
  border-top: 1px solid $honeycomb;
  margin: 0;
  padding: 3px 0;
  &:hover {
    #delete-comment {
      visibility: visible;
    }
  }
  #delete-comment {
    color: $red;
    visibility: hidden;
  }
}

.comment-time {
  font-size: 12px;
  color: $mediumgray;
  float: right;
  padding-right: 2px;
}

.question {
  background-color: $honeycomb;
  .discussion {
    padding-left: 2px;
    color: $red;
  }
  .comment-time {
    color: $white;
  }
}

.profile-remark {
  color: $honeycomb;
}

.profile-question {
  color: $red;
}

/* Buttons */

.create-button,
.delete-button {
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 4px 5px;
  background-color: $bluesteel;
  color: $white;
  &:hover {
    color: $honeycomb;
  }
}

.delete-button {
  background-color: $red;
}
