/* Color Scheme */
$honeycomb: #fdae06;
$lightgray: #EEE;
$mediumgray: #BBB;
$bluesteel: #011d5b;

body {
  background-color: $honeycomb;
  font-family: "HelveticaNeue-Light";
  font-weight: 300;
  color: $lightgray;
}

/* Home Page */

button.home {
  background-color: $honeycomb;
  border: 1px solid $bluesteel;
  color: $bluesteel;
  font-family: "HelveticaNeue-Light";
  &:hover {
    background-color: $bluesteel;
    color: $mediumgray;
  }
}
