<footer>
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-3">
        <li>About</li>
        <li>Contact</li>
        <li>The Dev</li>
      </ul>
    </div>
  </div>
</footer>
