<footer>
  <div class="row">
    <div class="small-2 small-offset-3 columns"><p>About</p></div>
    <div class="small-2 columns"><p>Meet the dev</p></div>
    <div class="small-2 columns end"><p>Contact</p></div>
  </div>
</footer>
